http://kjemidagen.localhost {
	respond /caddytest "Caddy is up"
	reverse_proxy /v1/* kjemi-backend:8000
	reverse_proxy /docs* kjemi-backend:8000
	reverse_proxy /openapi.json kjemi-backend:8000
	reverse_proxy kjemi-frontend:5173
}
