http://kjemidagen.localhost {
	respond /caddytest "Caddy is up"
	reverse_proxy /v1/* localhost:8000
	reverse_proxy /docs* localhost:8000
	reverse_proxy /openapi.json localhost:8000
	reverse_proxy localhost:3000 # if using docker
	# reverse_proxy localhost:5173 # if using npm run dev
}

kjemidagen.no {
	reverse_proxy /v1/* localhost:8000
	reverse_proxy /docs* localhost:8000
	reverse_proxy /openapi.json localhost:8000
	reverse_proxy localhost:3000
}

www.kjemidagen.no {
	redir https://kjemidagen.no{uri}
}
