@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
}

body {
  margin: 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
html {
  overflow-x: hidden;
}
body {
  background: #a92e0f;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ecdac1;
  overflow-x: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 8px;
}
.bigger {
  font-size: 20px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 64px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
header,
footer,
section {
  position: relative;
  max-width: 100%;
}
header {
  background: url('header.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}
header .title {
  position: relative;
  top: 100px;
  left: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 65px 0 0 260px;
  background: url('logo250.png') no-repeat;
}
header h1 a {
  text-decoration: none;
  color: #a92e0f;
  font-size: 80px;
}
header h1 a:hover {
  text-decoration: none;
}
header h2 {
  color: #fff;
  font-size: 96px;
  line-height: 1;
}
header aside {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}
header::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  border-right: 3000px #a92e0f solid;
  border-top: 200px transparent solid;
}
.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}
.back-to-top {
  float: right;
}
.frontpage .navigation {
  width: 50%;
  float: left;
  padding-left: 290px;
  padding-top: 40px;
  font-size: 20px;
}
.frontpage .frontpage-content {
  width: 50%;
  float: right;
  padding-bottom: 40px;
}
.frontpage .frontpage-content p {
  margin-bottom: 16px;
}
.frontpage::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 500px;
  left: 0;
  height: 0;
  border-right: 3000px #a92e0f solid;
  border-bottom: 100px transparent solid;
}
.frontpage::after {
  content: '';
  display: block;
  clear: both;
  height: 600px;
  background: url('jotun.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}
.about {
  background: #ecdac1;
  padding-top: 30px;
}
.about::before {
  content: '';
  display: block;
  position: absolute;
  top: -200px;
  left: 0;
  height: 0;
  border-right: 3000px #ecdac1 solid;
  border-top: 200px transparent solid;
}
.about h3,
.about h4 {
  color: #a92e0f;
}
.about h3 {
  margin-bottom: 32px;
}
.about p {
  color: #000;
}
.about .about-intro p {
  margin-left: 16px;
}
.about .about-content {
  padding-top: 32px;
}
.about .about-content article {
  float: left;
  width: 33%;
  padding: 16px;
}
.about .about-content::after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.about::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -200px;
  left: 0;
  height: 0;
  border-left: 3000px #ecdac1 solid;
  border-bottom: 200px transparent solid;
}
.pictures {
  height: 800px;
  z-index: -1;
  background: url('exxon.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.program::before {
  content: '';
  display: block;
  position: absolute;
  top: -200px;
  left: 0;
  height: 0;
  border-left: 3000px #a92e0f solid;
  border-top: 200px transparent solid;
}
.program p {
  float: left;
  width: 50%;
  padding: 16px;
}
.program .program-desc::after {
  content: '';
  display: block;
  margin-top: 20px;
  float: right;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background: url('raworth-lecture.jpg') no-repeat;
  background-size: cover;
}
.program .program-table {
  float: right;
  width: 50%;
  padding: 16px;
  padding-bottom: 70px;
}
.program .program-table table {
  margin-left: 16px;
}
.program .program-table td {
  padding: 0 8px;
}
.program .program-table .left-col {
  white-space: nowrap;
}
.program::after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.companies {
  background: #fff;
  color: #a92e0f;
  padding-bottom: 200px;
  padding-top: 200px;
}
.companies p {
  color: #000;
  padding: 0 16px;
}
.companies img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
}
.companies::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  border-left: 3000px #a92e0f solid;
  border-bottom: 200px transparent solid;
}
.companies::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  border-left: 3000px #ecdac1 solid;
  border-top: 200px transparent solid;
}
.contact {
  background: #ecdac1;
  color: #a92e0f;
  padding-bottom: 40px;
}
.contact p {
  color: #000;
  text-align: center;
}
.contact .contact-image img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.contact .contact-image .styret {
  list-style-type: none;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 30px;
}
.contact .contact-image .styret li {
  float: left;
  padding: 0 10px;
  width: 25%;
  text-align: center;
}
.contact .contact-image .styret a {
  color: #a92e0f;
}
.contact .contact-image .styret .desc {
  display: block;
  color: #000;
  font-size: 12px;
}
.contact .contact-image .styret::after {
  display: block;
  content: '';
  clear: both;
}
.contact .contact-email {
  font-size: 28px;
}
.contact a {
  color: #000;
}
.contact::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -200px;
  left: 0;
  height: 0;
  border-left: 3000px #ecdac1 solid;
  border-bottom: 200px transparent solid;
  z-index: 2;
}
footer::before {
  content: '';
  display: block;
  height: 600px;
  background: url('kjemidagen.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer::after {
  content: '';
  display: block;
  position: absolute;
  top: 400px;
  left: 0;
  height: 0;
  border-right: 3000px #a92e0f solid;
  border-top: 200px transparent solid;
}
footer .footer-collaborators {
  padding: 16px 40px;
  float: left;
}
footer .footer-collaborators img {
  max-width: 100%;
}
footer .footer-collaborators .list-collaborators {
  padding-left: 16px;
}
footer .footer-about {
  #max-width: 1400px;
  margin: 0 auto;
  text-align: right;
  padding: 40px 16px;
  padding: 16px 40px;
  float: right;
}
footer #a {
  display: block;
  text-align: center;
  padding: 40px 16px;
}
@media (max-width: 2000px) {
  header::after {
    border-right: 2000px #a92e0f solid;
    border-top: 140px transparent solid;
  }
  .frontpage::before {
    bottom: 530px;
    border-right: 2000px #a92e0f solid;
    border-bottom: 70px transparent solid;
  }
  .about::before {
    top: -140px;
    border-right: 2000px #ecdac1 solid;
    border-top: 140px transparent solid;
  }
  .about::after {
    bottom: -140px;
    border-left: 2000px #ecdac1 solid;
    border-bottom: 140px transparent solid;
  }
  .program::before {
    top: -140px;
    border-left: 2000px #a92e0f solid;
    border-top: 140px transparent solid;
  }
  .companies::before {
    border-left: 2000px #a92e0f solid;
    border-bottom: 140px transparent solid;
  }
  .companies::after {
    border-left: 2000px #ecdac1 solid;
    border-top: 140px transparent solid;
  }
  .contact::after {
    bottom: -140px;
    border-left: 2000px #ecdac1 solid;
    border-bottom: 140px transparent solid;
  }
  footer::after {
    top: 460px;
    border-right: 2000px #a92e0f solid;
    border-top: 140px transparent solid;
  }
}
@media (max-width: 1600px) {
  header::after {
    border-right: 1600px #a92e0f solid;
    border-top: 120px transparent solid;
  }
  .frontpage::before {
    bottom: 550px;
    border-right: 1600px #a92e0f solid;
    border-bottom: 50px transparent solid;
  }
  .about::before {
    top: -120px;
    border-right: 1600px #ecdac1 solid;
    border-top: 120px transparent solid;
  }
  .about::after {
    bottom: -120px;
    border-left: 1600px #ecdac1 solid;
    border-bottom: 120px transparent solid;
  }
  .program::before {
    top: -120px;
    border-left: 1600px #a92e0f solid;
    border-top: 120px transparent solid;
  }
  .companies {
    padding-bottom: 150px;
    padding-top: 150px;
  }
  .companies::before {
    border-left: 1600px #a92e0f solid;
    border-bottom: 120px transparent solid;
  }
  .companies::after {
    border-left: 1600px #ecdac1 solid;
    border-top: 120px transparent solid;
  }
  .contact::after {
    bottom: -120px;
    border-left: 1600px #ecdac1 solid;
    border-bottom: 120px transparent solid;
  }
  footer::after {
    top: 480px;
    border-right: 1600px #a92e0f solid;
    border-top: 120px transparent solid;
  }
}
@media (max-width: 1200px) {
  header {
    height: 500px;
  }
  header .title {
    background: url('logo200.png') no-repeat;
    padding-left: 210px;
    padding-top: 50px;
  }
  header h1 a {
    font-size: 64px;
  }
  header h2 {
    font-size: 80px;
  }
  header::after {
    border-right: 1200px #a92e0f solid;
    border-top: 100px transparent solid;
  }
  .frontpage .navigation {
    padding-left: 240px;
  }
  .frontpage::before {
    bottom: 350px;
    border-right: 1200px #a92e0f solid;
    border-bottom: 50px transparent solid;
  }
  .frontpage::after {
    height: 400px;
  }
  .about::before {
    top: -100px;
    border-right: 1200px #ecdac1 solid;
    border-top: 100px transparent solid;
  }
  .about::after {
    bottom: -100px;
    border-left: 1200px #ecdac1 solid;
    border-bottom: 100px transparent solid;
  }
  .pictures {
    height: 600px;
  }
  .program::before {
    top: -100px;
    border-left: 1200px #a92e0f solid;
    border-top: 100px transparent solid;
  }
  .companies {
    padding-bottom: 150px;
    padding-top: 150px;
  }
  .companies::before {
    border-left: 1200px #a92e0f solid;
    border-bottom: 100px transparent solid;
  }
  .companies::after {
    border-left: 1200px #ecdac1 solid;
    border-top: 100px transparent solid;
  }
  .contact::after {
    bottom: -100px;
    border-left: 1200px #ecdac1 solid;
    border-bottom: 100px transparent solid;
  }
  footer::after {
    top: 500px;
    border-right: 1200px #a92e0f solid;
    border-top: 100px transparent solid;
  }
}
@media (max-width: 1000px) {
  header {
    height: 400px;
  }
  header .title {
    background: url('logo150.png') no-repeat;
    left: 20px;
    padding-left: 160px;
    padding-top: 24px;
  }
  header h1 a {
    font-size: 56px;
  }
  header h2 {
    font-size: 56px;
  }
  header::after {
    border-right: 1000px #a92e0f solid;
    border-top: 90px transparent solid;
  }
  .frontpage .navigation {
    padding-left: 170px;
  }
  .frontpage::before {
    bottom: 360px;
    border-right: 1000px #a92e0f solid;
    border-bottom: 40px transparent solid;
  }
  .frontpage::after {
    height: 400px;
  }
  .about::before {
    top: -90px;
    border-right: 1000px #ecdac1 solid;
    border-top: 90px transparent solid;
  }
  .about::after {
    bottom: -90px;
    border-left: 1000px #ecdac1 solid;
    border-bottom: 90px transparent solid;
  }
  .pictures {
    height: 600px;
  }
  .program::before {
    top: -90px;
    border-left: 1000px #a92e0f solid;
    border-top: 90px transparent solid;
  }
  .program .program-desc::after {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }
  .companies {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .companies::before {
    border-left: 1000px #a92e0f solid;
    border-bottom: 90px transparent solid;
  }
  .companies::after {
    border-left: 1000px #ecdac1 solid;
    border-top: 90px transparent solid;
  }
  .contact::after {
    bottom: -90px;
    border-left: 1000px #ecdac1 solid;
    border-bottom: 90px transparent solid;
  }
  footer::after {
    top: 510px;
    border-right: 1000px #a92e0f solid;
    border-top: 90px transparent solid;
  }
}
@media (max-width: 700px) {
  header {
    height: 300px;
  }
  header .title {
    top: 50px;
    left: 10px;
    background: url('logo100.png') no-repeat;
    padding-left: 110px;
    padding-top: 20px;
  }
  header h1 {
    font-size: 40px;
  }
  header h1 a {
    font-size: 40px;
  }
  header h2 {
    font-size: 40px;
  }
  header aside {
    padding: 8px;
  }
  header::after {
    border-right: 700px #a92e0f solid;
    border-top: 50px transparent solid;
  }
  .frontpage .navigation {
    padding-left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .frontpage .frontpage-content {
    width: 100%;
  }
  .frontpage::before {
    bottom: 270px;
    border-right: 700px #a92e0f solid;
    border-bottom: 30px transparent solid;
  }
  .frontpage::after {
    height: 300px;
  }
  .about::before {
    top: -50px;
    border-right: 700px #ecdac1 solid;
    border-top: 50px transparent solid;
  }
  .about::after {
    bottom: -50px;
    border-left: 700px #ecdac1 solid;
    border-bottom: 50px transparent solid;
  }
  .about .about-intro p {
    margin-left: 0;
  }
  .about .about-content article {
    width: 100%;
    padding: 0;
  }
  .pictures {
    height: 400px;
  }
  .program::before {
    top: -50px;
    border-left: 700px #a92e0f solid;
    border-top: 50px transparent solid;
  }
  .program p,
  .program .program-table {
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
  }
  .program .program-desc::after {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    float: none;
    margin-left: 50%;
    position: relative;
    left: -200px;
  }
  .companies {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .companies::before {
    border-left: 700px #a92e0f solid;
    border-bottom: 50px transparent solid;
  }
  .companies::after {
    border-left: 700px #ecdac1 solid;
    border-top: 50px transparent solid;
  }
  .contact::after {
    bottom: -50px;
    border-left: 700px #ecdac1 solid;
    border-bottom: 50px transparent solid;
  }
  footer::after {
    top: 550px;
    border-right: 700px #a92e0f solid;
    border-top: 50px transparent solid;
  }
}
@media (max-width: 500px) {
  header {
    height: 200px;
  }
  header .title {
    background: url('logo060.png') no-repeat;
    padding-left: 70px;
    padding-top: 8px;
  }
  header h1 {
    font-size: 32px;
  }
  header h1 a {
    font-size: 32px;
  }
  header h2 {
    font-size: 24px;
  }
  header::after {
    border-right: 500px #a92e0f solid;
    border-top: 50px transparent solid;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
  .frontpage::before {
    bottom: 170px;
    border-right: 500px #a92e0f solid;
    border-bottom: 30px transparent solid;
  }
  .frontpage::after {
    height: 200px;
  }
  .about::before {
    top: -50px;
    border-right: 500px #ecdac1 solid;
    border-top: 50px transparent solid;
  }
  .about::after {
    bottom: -50px;
    border-left: 500px #ecdac1 solid;
    border-bottom: 50px transparent solid;
  }
  .pictures {
    height: 300px;
  }
  .program::before {
    top: -50px;
    border-left: 500px #a92e0f solid;
    border-top: 50px transparent solid;
  }
  .program .program-desc::after {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    float: none;
    margin-left: 50%;
    position: relative;
    left: -150px;
  }
  .companies {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .companies::before {
    border-left: 500px #a92e0f solid;
    border-bottom: 50px transparent solid;
  }
  .companies::after {
    border-left: 500px #ecdac1 solid;
    border-top: 50px transparent solid;
  }
  .contact .contact-email {
    font-size: 24px;
  }
  .contact::after {
    bottom: -50px;
    border-left: 500px #ecdac1 solid;
    border-bottom: 50px transparent solid;
  }
  footer::after {
    top: 550px;
    border-right: 500px #a92e0f solid;
    border-top: 50px transparent solid;
  }
}
@media (max-width: 320px) {
  header::after {
    border-right: 320px #a92e0f solid;
    border-top: 30px transparent solid;
  }
  .frontpage::after {
    height: 200px;
  }
  .about::before {
    top: -30px;
    border-right: 320px #ecdac1 solid;
    border-top: 30px transparent solid;
  }
  .about::after {
    bottom: -30px;
    border-left: 320px #ecdac1 solid;
    border-bottom: 30px transparent solid;
  }
  .pictures {
    height: 300px;
  }
  .program::before {
    top: -30px;
    border-left: 320px #a92e0f solid;
    border-top: 30px transparent solid;
  }
  .companies {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .companies::before {
    border-left: 320px #a92e0f solid;
    border-bottom: 30px transparent solid;
  }
  .companies::after {
    border-left: 320px #ecdac1 solid;
    border-top: 30px transparent solid;
  }
  .contact::after {
    bottom: -30px;
    border-left: 320px #ecdac1 solid;
    border-bottom: 30px transparent solid;
  }
  footer::after {
    top: 570px;
    border-right: 320px #a92e0f solid;
    border-top: 30px transparent solid;
  }
}
