:root {
  --color-text-base: #000;
  --color-text-inverted: #ecdac1;
  --color-text-loud: #ffffff;
  --color-text-brand: #a92f0f;
  --color-bg-primary: #a92f0f;
  --color-bg-secondary: #ecdac1;

  //--color-dark: #1e1a1d;
}
